* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.task-list-container {
    grid-column: 1 / 2;
}

.project-list-container {
    grid-column: 2 / 3;
}

.new-task-form {
    grid-column: 3 / 4;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}