body {
    display: flex;
    justify-content: space-between;
}

.list-container > ul > li:hover {
    text-decoration: underline;
}

.new-task-form {
    display: flex;
    flex-direction: column;
}

.add-task-button {
    border-radius: 50%;
    color: cornflowerblue;
    height: 1em;
}